body {
    font-family: "Roboto", sans-serif;
    background: #ECECEC
}
header {
    background: #FFFFFF;
}
:root {
    --dark-background: #2F303A;
    --light-blue-bg: #2196F3;
    --light-white-bg: #E5E5E5;
    --lighter-white-bg: #F5F4FA;
    --white-bg: #FFFFFF;
}

/*HEADER*/
.main-logo {
    font-family: 'Raleway';
    font-size: 26px;
    text-decoration: none;
    color:#000000;
    cursor: pointer;
}
.text-blue {
    color: #2196F3;
}
.studio {
    font-family: 'Raleway';
    font-size: 26px;
    color: #000000;
    text-decoration: none;
}
.site-navigation a {
    text-decoration: none;
    font-weight: 500px;
    font-size: 14px;
    color: #212121;
}
.site-navigation a:hover {
    color: #2196F3;
}
.contact-links a {
    text-decoration: none;
    font-weight: 500px;
    font-size: 14px;
    color: #212121;
}
.contact-links a:hover {
    color: #2196F3;
}
/*INDEX.HTML*/
.hero-section {
    background-color: var(--dark-background);
}
.hero-section h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
}
.hero-section button {
    background-color: var(--light-blue-bg);
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
}
.usp-blocks {
    background-color: var(--light-white-bg);
}
.usp-blocks h3 {
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
}
.usp-blocks p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}
.items-grid h2 {
    font-size: 36px;
    line-height: 1.16;
    color: #212121;
}
.list-team {
    background-color: var(--lighter-white-bg);
}
.list-team h2 {
    font-size: 36px;
    line-height: 1.16;
    color: #212121;
}
.list-team span {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: #212121;
}
.list-team span.list-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #757575;
}
/*PORTFOLIO.HTML*/

.list-buttons {
    background-color: var(--white-bg);
}
.list-buttons li {
    background-color: var(--lighter-white-bg);
}
.list-buttons button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background: #F5F4FA;
    color: #212121;
    cursor: pointer;
}
.list-buttons button:hover {
    background: #2196F3;
    color: #FFFFFF;
}
.list-items {
    background-color: var(--white-bg);
}
.list-items h3 {
    font-size: 18px;
    line-height: 2.0;
    color: #212121;
}
.list-items span {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
}

/*FOOTER*/
.footer-wrapper {
    background-color: var(--dark-background);
}
.footer-logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    color: #FFFFFF;
    text-decoration: none;
}
.text-web {
    color: #2196F3;
}
.address-items b {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}
.address-items a {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
